<p *ngIf = "!(authService.getUser()| async)">Please Login</p>
<mat-card *ngIf = "(authService.getUser()|async)">
    <h1>Add Item</h1>
    <form #itemsForm="ngForm">
      <div class="example-container">
        <p>
        <mat-form-field appearance="standard">
            <mat-label>First</mat-label>
                <input 
                    matInput placeholder="first"
                    [(ngModel)] = "first"
                    name = "first">
        </mat-form-field>
        </p> 
        <p>
        <mat-form-field appearance="standard">
          <mat-label>Second</mat-label>
            <input 
                  matInput placeholder="second"
                  [(ngModel)] = "second"
                  name = "second">
          </mat-form-field> 
        </p>
        <p> 
        <mat-form-field appearance="standard">
          <mat-label>Third</mat-label>
            <input 
                  matInput placeholder="third"
                  [(ngModel)] = "third"
                  name = "third">
          </mat-form-field> 
        </p>
        <!--<p>
          <mat-checkbox [(ngModel)]="third" name="third">Boolean field</mat-checkbox>
        </p>   -->
        <button mat-raised-button color="primary"  [disabled]="!itemsForm.form.valid" *ngIf="button" (click)="predict()">
          predict
        </button> 
        <p>
          <mat-form-field appearance="fill"  *ngIf="!button">
            <mat-label>result</mat-label>
            <mat-select [(result)]="selected" [(ngModel)]="result" name = "result">
              <mat-option>None</mat-option>
              <mat-option value="Available in stock">Available in stock</mat-option>
              <mat-option value="Not available in stock">Not available in stock</mat-option>
            </mat-select>
          </mat-form-field>
           <button *ngIf="!button && result" color="primary" mat-raised-button (click)="save()">
             save
           </button>
           <button *ngIf="!button" mat-raised-button (click)="cancel()">
             Cancel
           </button> 
        </p>         
        <div>
          <!--<div>
            <button mat-raised-button color="primary" *ngIf="!prediction" (click) = "validation(math, psyco, payment)">Predict</button>
            <div *ngIf = "isShow">
            <button mat-raised-button color="primary" *ngIf="prediction" (click) = "toggleDisplay();validation(math, psyco, payment)">{{predictText}}</button>
            </div>
          </div>
          <div *ngIf = "!isShow">
           <mat-form-field appearance="fill" *ngIf="prediction">
             <select matNativeControl required>
               <option value="">{{prediict}}</option>
               <option value="">{{secondpre}}</option>
             </select>
           </mat-form-field>
          </div>
          <p *ngIf = "!isShow">
          <button mat-raised-button color="primary" *ngIf="prediction" (click) = "save()" >{{buttonText}}</button>
          <button mat-raised-button *ngIf="prediction" (click) = "toggleDisplay()">Cancel</button>
          </p>
        </div>-->
        </div>
        <p class="error">{{err}}</p>
      </div>
    </form>
</mat-card>
