<p *ngIf = "!(authService.getUser()|async)">please login!</p>

<mat-card *ngIf = "(authService.getUser()|async)">
  <h2>Weather Table</h2>
    <mat-card-content>
        <table mat-table [dataSource]="items" class="table table-striped table-hover" >
  
          <ng-container matColumnDef="City">
            <th mat-header-cell *matHeaderCellDef> City </th>
            <td mat-cell *matCellDef="let element; let i = index">
              {{element.first}}
            </td>
          </ng-container>

          <ng-container matColumnDef="Temp">
            <th mat-header-cell *matHeaderCellDef> Temp </th>
            <td mat-cell *matCellDef="let element; let i = index">
              {{element.second}}
            </td>
          </ng-container>
        
          <ng-container matColumnDef="Humidity">
            <th mat-header-cell *matHeaderCellDef>Humidity </th>
            <td mat-cell *matCellDef="let element; let i = index">
              <span> {{element.third}}</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="icon">
            <th mat-header-cell *matHeaderCellDef> icon </th>
            <td mat-cell *matCellDef="let element; let i = index">
              <img [src] = "element.image">
            </td>
          </ng-container>
        
          <ng-container matColumnDef="result">
            <th mat-header-cell *matHeaderCellDef> result </th>
            <td mat-cell *matCellDef="let element; let i = index">
              <span> {{element.result}}</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="Actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element; let i = index"> 
              <button mat-raised-button
                color = "warn"
                (click)="getWeatherData(i)" >
                Get data
              </button>
              <button mat-raised-button
                color = "primary"
                *ngIf = "(element.second && element.third) && !element.result"
                (click)="predict(i)" >
                Predict
              </button>

              <button mat-raised-button
                color = "primary"
                *ngIf = "element.result"
                (click)="saveItem(i)" >
                Save
              </button>
              <button mat-raised-button
                color = "primary"
                *ngIf = "element.saved"
                (click)="getNewData(i)" >
                Get new data
              </button>
              <!--<button  mat-raised-button  (click)="deleteItem(i)" *ngIf = "areYouSure">
                Click to delete
              </button>
              <button  mat-raised-button  (click)="hideAreYouSure(i)" *ngIf = "areYouSure">
                Cancel
              </button> -->  
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-card-content>
  </mat-card> 